.layout-footer {
  padding: 2rem 4rem;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
  color: var(--text-color);
  border-top: 1px solid #e2e8f0;
}
