<div>
  <p-card class="flex flex-col gap-2 mx-auto basis-[40rem] w-300 mb-4">
    <div class="flex flex-col gap-6 w-full sm:w-auto">
      <h2 class="font-bold text-lg">Pick and Win</h2>
      <p-accordion value="0">
        @for (category of getAllItemCategories(choerbliStore.summary().items); track category) {
          <p-accordion-panel value="0">
            <p-accordion-header>{{ category }}</p-accordion-header>
            <p-accordion-content>
              @for (item of getAllItemsByCategory(category); track item.id) {
                <div class="m-2">
                  <div class="flex items-center cursor-pointer w-fit" (click)="checkItem(item)">
                    <p-checkbox [binary]="true" [ngModel]="!!item.user" [disabled]="!!item.user"/>
                    <label class="mx-2" [class.strikethrough]="!!item.user"> {{ item.itemDescription.name }} </label>
                    <p-badge [value]="item.points" />
                  </div>
                </div>
              }
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    </div>
  </p-card>
</div>
