.item {
  width: 60%;
  height: 50px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  margin: 0 auto;
  position: relative;

  .item-icon {
    width: 35px;
    height: 35px;
  }

  .item-content {
    width: 100px;
    text-align: center;
  }

  .item-title {
    text-align: center;
    font-size: 25px;
  }

  .up-vote-button {
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.44);
    border-color: rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    position: absolute;
    right: 70px;
    top: 2px;
    text-align: center;
    button {
      cursor: pointer;
      height: 100%;
      width: 45px;
      i {
        color: rgba(0, 0, 0, 0.33);
        font-size: 20px;
      }
    }

  }

  .down-vote-button {
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.44);
    border-color: rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    position: absolute;
    right: 10px;
    top: 2px;
    text-align: center;
    button {
      cursor: pointer;
      height: 100%;
      width: 45px;
      i {
        vertical-align: top;
        color: rgba(0, 0, 0, 0.33);
        font-size: 20px;
      }
    }
  }
}

.disabled {
  background-color: rgba(0, 0, 0, 0.44) !important;
  border-color: rgba(0, 0, 0, 0.50) !important;
  i {
    color: rgba(0, 0, 0, 0.33) !important;
  }
}

.enabled-up-vote {
  background-color: #0a8142 !important;
  border: 2px solid #086835 !important;
  i {
    color: #500404;
  }
}

.enabled-down-vote {
  background-color: #ca1919 !important;
  border: 2px solid #9f1212 !important;
  i {
    color: #500404;
  }
}
