<h1 class="mb-4">Chörbli - {{ choerbliStore.choerbli().name }}</h1>
@if (!userStore.user().id) {
  <div>
    <p-card class="flex flex-col gap-2 mx-auto basis-[40rem] w-200">
      <app-user-form [user]="user"></app-user-form>
      <div class="flex pt-6 justify-end">
        <p-button (onClick)="createUser()" label="User erstellen" icon="pi pi-arrow-right" iconPos="right"/>
      </div>
    </p-card>
  </div>
} @else if (choerbliStore.choerbli().state === ChoerbliStatus.VOTING) {
  @if ((items | async); as itemList) {
    <div class="content-page">
      @for (category of getAllItemCategories(itemList); track category) {
        <h2>
          <img class="category-icon" src="/assets/{{category | lowercase}}.png" alt="">
          {{ category }}
        </h2>
        @for (item of itemList; track item.item.category) {
          @if (item && item.item.category.name == category) {
            {{item.vote}}
            <app-item (somethingHappened)="onChildEvent()" vote="{{item.vote}}" name="{{item.item.name}}" itemId="{{item.item.id}}"></app-item>
            <br>
          }
        }
        <br>
      }
    </div>
  }
} @else if (choerbliStore.choerbli().state === ChoerbliStatus.ASSIGNING) {
  <app-assigning-form></app-assigning-form>
} @else if (choerbliStore.choerbli().state === ChoerbliStatus.DONE) {
  <app-ranking></app-ranking>
}

@if (choerbliStore.choerbli().state !== ChoerbliStatus.DONE && userStore.user().id) {
  <div class="flex m-4 mr-104 mt-0 justify-end">
    <p-button (onClick)="nextPhase()" label="Nächste Phase" icon="pi pi-arrow-right" iconPos="right"/>
  </div>
}
